 .captcha-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        #captcha {
            font-size: 24px;
            font-weight: bold;
            background-color: #f0f0f0;
            padding: 10px;
            margin-bottom: 10px;
        }
.br{
font-size: 24px;
ont-weight: bold;
            background-color: #f0f0f0;
            padding: 5px;
            margin-bottom: 5px;
}