.description, .kmbo, .iframe-name {
    overflow: auto;
    background-color: grey;
    padding: 10px;
    height: auto;
    width: 64%;
    color: white;
    margin: 20px auto;
    display: block;
    text-align: center;
}

.synopsis, .warning {
    margin-top: 10px;
    color: white;
}