.video-container {
    width: 64%;
    height: 62vh;
    border: 3px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('https://th.bing.com/th/id/OIG3.m0ZBmc1jFPHn_ywipmMJ?pid=ImgGn');
    background-size: cover;
    background-position: center;
    position: relative;
}
