.description, .kmbo {
    overflow: auto;
 font-size: 1em;
    background-color: grey;
    padding: 0px;
    height: auto;
    width: 100%;
    color: white;
    margin: 5px auto;
    display: block;
    text-align: center;
}

.description {
    margin-top: 1px;
    color: white;
}
.title {
    font-size: 2em;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.km {
    font-size: 2em;
    text-align: center;
    color: black;
}