h1, .title {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.km, .warning {
    font-size: 1.3em;
    text-align: center;
    color: white;
}