body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://github.com/zona02/SMVL/blob/main/Icon/OIG2%20(1).jpg?raw=true') no-repeat center center fixed;
    background-size: cover;
}