.video-container {
    width: 64%;
    height: 62vh;
    border: 3px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url('https://github.com/zona02/SMVL/blob/main/Icon/OIG2.XDzijyy.jpg?raw=true');
    background-size: cover;
    background-position: center;
    position: relative;
}
